お店を検索する

<%= form_with url: search_shops_path, method: :get do %>
  <%= text_field_tag :keyword, params[:keyword] %>
  <%= submit_tag 'Search' %>
<% end %>

<% @hotpepper_shop.each do |hotpepper_shop| %>
  <h2><%= hotpepper_shop['name'] %></h2>
  <p><%= hotpepper_shop['address'] %></p>
  <!-- 他の情報を表示する場合は適宜追加してください -->
<% end %>