<h1>お気に入りのお店を探してみましょう</h1>

<%= form_with url: shops_path, method: :get do %>
  <%= label_tag 'keyword', 'Keyword:' %>
  <%= text_field_tag 'keyword' %>
  <%= submit_tag '検索' %>
<% end %>

<pre>
  <%= @shops %>
</pre>

<% if @shops.present? %>
  <h2>お店の検索結果</h2>
  <ul>
    <% @shops.each do |shop| %>
      <li>
        <strong><%= link_to shop['name'], shop_path(shop['id']) %></strong><br>
        <%= image_tag shop['photo']['pc']['m'] %>
        <%= shop['genre']['catch'] %><br>

        住所: <%= shop['address'] %><br>
        アクセス: <%= shop['access'] %><br>
        営業時間: <%= shop['open'] %><br>
        定休日: <%= shop['close'] %><br>
        店舗URL: <%= shop['urls']['pc'] %><br>
      </li>


        <%= form_with model: @shop, url: shops_path, method: :post do |f| %>
          <%= f.hidden_field :shop_name, value: shop['name'] %>
          <%= f.hidden_field :shop_address, value: shop['address'] %>
          <%= f.hidden_field :shop_url, value: shop['urls']['pc'] %>
          <%= f.submit 'お気に入りに追加' %>
        <% end %>
    <% end %>
  </ul>
<% end %>



