<h1>お気に入りのお店を探してみましょう</h1>

<%= form_with url: shops_path, method: :get do %>
  <%= label_tag 'keyword', 'Keyword:' %>
  <%= text_field_tag 'keyword' %>
  <%= submit_tag '検索' %>
<% end %>

<pre>
  <%= @shops %>
</pre>

<% if @shops.present? %>
  <h2>お店の検索結果</h2>
  <ul>
    <% @shops.each do |shop| %>
      <li>
        <strong><%= link_to shop['name'], shop['urls']['pc'] %></strong><br>
        <%= image_tag shop['photo']['pc']['m'] %>
        <%= shop['genre']['catch'] %><br>

        住所: <%= shop['address'] %><br>
        アクセス: <%= shop['access'] %><br>
        営業時間: <%= shop['open'] %><br>
        定休日: <%= shop['close'] %><br>
        店舗URL: <%= shop['urls']['pc'] %><br>
      </li>

      <% if @favorite_shop.exists?(hotpepper_shop_id: shop['id']) %>
        <p><%= link_to "お気に入りを解除する", shop_path(@favorite_shop.ids), method: :delete %></p>
      <% else %>
        <%= form_with model: @shop, url: shops_path, method: :post do |f| %>
          <%= f.hidden_field :hotpepper_shop_id, value: shop['id'] %>
          <%= f.hidden_field :name, value: shop['name'] %>
          <%= f.hidden_field :address, value: shop['address'] %>
          <%= f.hidden_field :url, value: shop['urls']['pc'] %>
          <%= f.hidden_field :catch, value: shop['catch'] %>
          <%= f.hidden_field :open, value: shop['open'] %>
          <%= f.hidden_field :close, value: shop['close'] %>
          <%= f.hidden_field :genre, value: shop['genre']['name'] %>
          <%= f.hidden_field :budget_average, value: shop['budget']['average'] %>
          <%= f.hidden_field :access, value: shop['access	'] %>
          <%= f.hidden_field :parking, value: shop['parking'] %>
          <%= f.hidden_field :img, value: shop['photo']['pc']['m'] %>
          <%= f.submit 'お気に入りに追加' %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>



