<div class="my-5">
  <h2 class="text-center mb-5">応募の確認</h2>

  <div class="text-center m-3">
    <% if @application.errors.any? %>
    <p><%= @application.errors.count %>件のエラーが発生しました</p>
      <ul class="text-danger text-center">
        <% @application.errors.full_messages.each do |message| %>
          <li class="py-1"><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <h5 class="text-center mb-2">以下のお食事に応募しますか？</h5>

  <div class="container mt-5 border-radius-80 py-5">
    <div class="row mb-4">
      <h4 class="col-lg-12 col-md-12 col-sm-12 col-12 pb-4 text-center"><strong><%= link_to @recruitment.title, recruitment_path(@recruitment.id) %></strong></h4>
      <p class="col-lg-12 col-md-12 col-sm-12 col-12 mt-0 text-center"><%= @recruitment.introduction %></p>
    </div>
      <div class="row mb-5">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <p class="text-center pb-4"><%= image_tag @recruitment.shop.img, class: "rounded" %></p>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12">
            <table class="table table-borderless ml-4">
                <tr class="row">
                    <th class="col-lg-4 col-md-4 col-sm-5 col-5">お店</th>
                    <td class="col-lg-8 col-md-8 col-sm-7 col-7"><%= link_to @recruitment.shop.name, @recruitment.shop.url %></td>
                </tr>
                <tr class="row">
                    <th class="col-lg-4 col-md-4 col-sm-5 col-5">募集者</th>
                    <td class="col-lg-8 col-md-8 col-sm-7 col-7"><%= link_to @recruitment.user.nickname, user_path(@recruitment.user.id) %></td>
                </tr>
                <tr class="row">
                    <th class="col-lg-4 col-md-4 col-sm-5 col-5">希望の日にち</th>
                    <% if @recruitment.schedule.present? %>
                        <td class="col-lg-8 col-md-8 col-sm-7 col-7"><%= @recruitment.schedule %></td>
                    <% else %>
                        <td class="col-lg-8 col-md-8 col-sm-7 col-7">いつでもいいよ</td>
                    <% end %>
                </tr>
                <tr class="row">
                    <th class="col-lg-4 col-md-4 col-sm-5 col-5">募集している人数</th>
                    <td class="col-lg-8 col-md-8 col-sm-7 col-7"><%= @recruitment.number_of_people_i18n %></td>
                </tr>
                <tr class="row">
                    <th class="col-lg-4 col-md-4 col-sm-5 col-5">募集している人</th>
                    <td class="col-lg-8 col-md-8 col-sm-7 col-7"><%= @recruitment.recruitment_gender_i18n %></td>
                </tr>
                <tr class="row">
                    <th class="col-lg-4 col-md-4 col-sm-5 col-5">募集期限</th>
                    <td class="col-lg-8 col-md-8 col-sm-7 col-7"><%= @recruitment.deadline %></td>
                </tr>
            </table>
          </div>
      </div>


      <div class="text-center">
        <h4>応募するための情報を入力しましょう！</h4>
        <%= form_with model: @application, url: recruitment_applications_path(@recruitment.id), method: :post do |application| %>
          <div>
            <table class="table table-borderless ml-4">
              <tr class="row">
                  <th class="col-lg-12 col-md-12 col-sm-12 col-12">希望の日にち</th>
                  <td class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <p class="mb-0">1：<%= application.date_field :schedule_one, placeholder:"1つ目" %></p><br>
                    <p class="my-0">２：<%= application.date_field :schedule_two, placeholder:"2つ目" %></p><br>
                    <p class="mt-0">３：<%= application.date_field :schedule_three, placeholder:"3つ目" %></p>
                  </td>
              </tr>
              <tr class="row">
                  <th class="col-lg-12 col-md-12 col-sm-12 col-12 mt-1 mb-0">メッセージをどうぞ</th>
                  <td class="col-lg-12 col-md-12 col-sm-12 col-12 mt-0"><%= application.text_area :message, class: "text-area" %></td>
              </tr>
            </table>
          </div>
          <p><button class="btn btn-color-green my-3" type="submit">応募する！</button></p>
        <% end %>
      </div>
    <p class="text-center"><%= link_to "やっぱりやめる", recruitment_path(@recruitment.id), method: :get, class: "text-secondary" %></p>
  </div>
</div>
