<h2>応募確認画面</h2>

<p>以下のお食事に応募しますか？</p>

<% if @recruitment.user.image.attached? %>
<p><%= image_tag @recruitment.user.image, size: "200x200" %></p>
<% else %>
<p><%= image_tag 'no_image', size: "200x200" %></p>
<% end %>
<p><%= @recruitment.user.name %></p>
<p><%= @recruitment.title %></p>
<p><%= @recruitment.introduction %></p>
<p><%= @recruitment.schedule %></p>
<p><%= @recruitment.prefecture %></p>
<p><%= @recruitment.number_of_people %></p>
<p><%= @recruitment.recruitment_gender_i18n %></p>
<p><%= @recruitment.deadline %></p>


<%= form_with model: @application, url: recruitment_applications_path(@recruitment.id), method: :post do |application| %>
<p>メッセージをどうぞ</p>
<p><%= application.text_area :message %></p>

<p>日程（2つ目、3つ目は任意）</p>
<p><%= application.date_field :schedule_one, placeholder:"1つ目" %></p>
<p><%= application.date_field :schedule_two, placeholder:"2つ目" %></p>
<p><%= application.date_field :schedule_three, placeholder:"3つ目" %></p>
<p><%= application.submit "応募する" %></p>
<% end %>

<p><%= link_to "やっぱりやめる", recruitment_path(@recruitment.id), method: :get %></p>