<h2>応募履歴</h2>

<div>
<% @applications.each do |application| %>
  <p><%= link_to application.recruitment.title, recruitment_applications_path(application.recruitment.id) %></p>
  <p><%= application.recruitment.schedule_one %></p>
  <p><%= application.recruitment.schedule_two %></p>
  <p><%= application.recruitment.schedule_three %></p>
  <p><%= application.message %></p>
  <% if application.is_valid==true %>
    <p>応募済み</p>
  <% else %>
    <p>キャンセル済み</p>
  <% end %>
  <% if application.recruitment.is_valid==true %>
    <p>募集中</p>
  <% else %>
    <p>募集終了</p>
  <% end %>
<% end %>
</div
<%= paginate @applications_page %>

