<h2>応募履歴</h2>

<% @applications.each do |application| %>
  <p><%= link_to application.recruitment.title, recruitment_applications_path(application.recruitment.id) %></p>
  <p><%= application.recruitment.schedule_one %></p>
  <p><%= application.recruitment.schedule_two %></p>
  <p><%= application.recruitment.schedule_three %></p>
  <p><%= application.message %></p>
<% end %>