<div class="my-5">
  <h2 class="text-center"><%= @user.name %>さんの応募履歴</h2>
  
  <div class="container mt-5">
  <% @applications.each do |application| %>
    <div class="mb-5 p-5 rounded-3 bg-white border" style="border-radius:50px;">
    <h4 class="my-2 ml-4"><strong><%= link_to application.recruitment.title, admin_user_recruitment_applications_path(application.applicant.id, application.recruitment.id) %></strong></h4>
      <div class="row pt-3 pl-2">
        <div class="col-lg-3 col-md-4 col-sm-12 col-12">
          <p class="text-center"><%= image_tag application.recruitment.shop.img %></p>
        </div>
        <div  class="col-lg-6 col-md-6 col-sm-10 col-12">
          <p><%= link_to application.recruitment.shop.name, application.recruitment.shop.url %></p>
          <p><%= application.recruitment.shop.address %></p>
            <table class="table table-borderless">
              <tr class="row">
                <th class="col-lg-3 col-md-4 col-sm-3 col-3 text-right">希望日</th>
                <td class="col-lg-9 col-md-8 col-sm-9 col-9 text-left"><%= application.recruitment.schedule %></td>
              </tr>
              <tr class="row">
                <th class="col-lg-3 col-md-4 col-sm-3 col-3 text-right">募集期限</th>
                <td class="col-lg-9 col-md-8 col-sm-9 col-9 text-left"><%= application.recruitment.deadline %></td>
              </tr>
              <tr class="row">
              <% if application.is_valid==true %>
                <th class="col-lg-3 col-md-4 col-sm-3 col-3 text-right">応募状況</th>
                <td class="col-lg-9 col-md-8 col-sm-9 col-9 text-left">応募済み</td>
              <% else %>
                <th class="col-lg-3 col-md-4 col-sm-3 col-3 text-right">応募状況</th>
                <td class="col-lg-9 col-md-8 col-sm-9 col-9 text-left text-secondary">キャンセル済み</td>
              <% end %>
              </tr>
              <tr class="row">
              <% if application.recruitment.is_valid==true %>  
                <th class="col-lg-3 col-md-4 col-sm-3 col-3 text-right">募集状況</th>
                <td class="col-lg-9 col-md-8 col-sm-9 col-9 text-left text-danger">募集中</td>
              <% else %>
                <th class="col-lg-3 col-md-4 col-sm-3 col-3 text-right">募集状況</th>
                <td class="col-lg-9 col-md-8 col-sm-9 col-9 text-left text-secondary">募集終了</td>  
              <% end %>
              </tr>
            </table>
          </div>
          <div class="text-center col-lg-3 col-md-2 col-sm-3 col-12">
          <% if application.recruitment.user.image.attached? %>
            <p><%= image_tag application.recruitment.user.image, size: "80x80" %></p>
          <% else %>
            <p><%= image_tag 'no_image', size: "80x80" %></p>
          <% end %>
            <p><%= link_to application.recruitment.user.nickname, admin_user_path(application.recruitment.user.id) %></p>
          </div>         
       </div>
      </div>
  <% end %>
  </div>     
  <%= paginate @applications %>
</div>   
