<h2><%= @user.name %>さんの応募履歴</h2>

<div>
  <% if @applications.exists? %>
    <% @applications.each do |application| %>
      <p><%= link_to application.recruitment.title, admin_recruitment_path(application.recruitment.id) %></p>
      <P><%= link_to application.recruitment.user.name, admin_user_path(application.recruitment.user.id) %></P>
      <p><%= image_tag application.recruitment.shop.img %></p>
      <p><%= link_to application.recruitment.shop.name, application.recruitment.shop.url %></p>
      <p>希望日</p>
      <p><%= application.recruitment.schedule %></p>
      <p>募集期限</p>
      <p><%= application.recruitment.deadline %></p>
    <% end %>
  <% else %>
      <p>まだ応募はありません。</p>
  <% end %>
</div>
