お気に入りのお店一覧
<div>
  <ul class="d-flex flex-row">
    <% @shops.each do |shop| %>
       <div>
            <p><%= image_tag shop.img %></p>
        </div>
        <div>
            <p><strong><%= link_to shop.name, shop.url %></strong></p>
            <p><%= shop.catch %></p>
            <p><%= shop.genre %></p>
            <p><%= shop.budget_average %></p>
            <p><%= shop.address %></p>
            <p><%= shop.access %></p>
            <p>駐車場：<%= shop.parking %></p>
            <p><%= shop.open %></p>
            <p><%= shop.close %></p>
        </div>
    <% end %>
  </ul>
</div>