<h2>募集一覧</h2>

<% @recruitments.each do |recruitment| %>
    <!--<% if recruitment.recruitment_gender == @users.gender %>-->
        <%= recruitment.shop.name %>
        <%= recruitment.title %>
        <%= recruitment.schedule_one %>
    <% if recruitment.schedule_two.exists?(null: false) %>
        <%= recruitment.schedule_two %>
    <% end %>
    <% if recruitment.schedule_three.exists?(null: false) %>
        <%= recruitment.schedule_three %>
    <% end %>
        <%= recruitment.deadline %>
        
        <%= link_to "詳細", admin_recruitment_path(recruitment.id), method: :get %>
    <!--<%end%>-->
<%end%>

