<div class="my-5">
  <h3 class="text-center">募集一覧</h3>
  <!--さあ、まだ見ぬ仲間たちと食事を共にしましょう-->
  
  <div class="container mt-5">
      <% @recruitments.each do |recruitment| %>
        <% if recruitment.is_valid==true %>
          <div class="mb-5 bg-white rounded-3 p-5 border" style="border-radius:50px;">
            <h4 class="my-2 ml-3"><strong><%= link_to recruitment.title, admin_recruitment_path(recruitment.id) %></strong></h4>
              <div class="row pt-3">
                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                  <p class="text-center"><%= image_tag recruitment.shop.img %></p>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-10 col-12">
                  <p><%= link_to recruitment.shop.name, recruitment.shop.url %></p>
                  <p><%= recruitment.shop.address %></p>
                  <p>希望日　<%= recruitment.schedule %></p>
                  <p>募集期限　<%= recruitment.deadline %></p>
                  <% if recruitment.is_valid==true %>
                    <p class="text-danger"><strong>募集中</strong></p>
                  <% else %>
                    <p class="text-secondary"><strong>募集終了</strong></p>
                  <% end %>                
                </div>
                <div class="text-center col-lg-2 col-md-2 col-sm-3 col-12">
                  <% if recruitment.user.image.attached? %>
                    <p><%= image_tag recruitment.user.image, size: "90x90" %></p>
                  <% else %>
                    <p><%= image_tag 'no_image', size: "90x90" %></p>
                  <% end %>
                  <p><%= link_to recruitment.user.name, admin_user_path(recruitment.user.id) %></p>
                </div>
              </div>
          </div>
        <% end %>
      <% end %>
  </div>
  <%= paginate @recruitments %>
</div>
