<h2>募集一覧</h2>

<% @recruitments.each do |recruitment| %>
        <%= recruitment.shop.name %>
        <%= recruitment.title %>
        <%= recruitment.schedule %>
        <%= recruitment.deadline %>
        
        <%= link_to "詳細", admin_recruitment_path(recruitment.id), method: :get %>
<%end%>

