<h2><%= link_to @recruitment.title, admin_recruitment_path(@recruitment.id) %>のメッセージグループです</h2>

<h4>参加者</h4>
<div class="d-flex flex-row">
    <% @chat_group_users.each do |chat_group_user| %>
        <% if chat_group_user.user.image.attached? %>
            <p><%= image_tag chat_group_user.user.image, size: "80x80" %></p>
        <% else %>
            <p><%= image_tag 'no_image', size: "80x80" %></p>
        <% end %> 
            <p><%= link_to chat_group_user.user.nickname, user_path(chat_group_user.user.id) %></p>
    <% end %>
</div>

<div class='jscroll-div'>
    <% @chats.each do |chat| %>
        <% if chat.user.image.attached? %>
            <p><%= image_tag chat.user.image, size: "80x80" %></p>
        <% else %>
            <p><%= image_tag 'no_image', size: "80x80" %></p>
        <% end %> 
            <p><%= chat.user.nickname %></p>
            <p><%= chat.chat %></p>
            <p><%= link_to "削除する", admin_chat_path(chat.id), method: :delete %></p>
    <% end %>
    <%= paginate @chat_pages %>
</div>