<div class="my-5">
  <div class="m-5">
      <h6 class="text-muted"><%= flash[:notice] %></h6>
  </div>
    
  <h2 class="text-center">メッセージグループ一覧</h2>
  
  <div class="container mt-5">
    <% @chat_groups.each do |chat_group| %>
      <div class="rounded-3 bg-white border p-5 mb-5" style="border-radius:50px;">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-12 col-12 text-center mb-4">
            <p><%= image_tag chat_group.recruitment.shop.img, class: "rounded" %></p>
          </div>
          <div class="col-lg-9 col-md-8 col-sm-12 col-12 pl-5">
            <h4><%= link_to chat_group.recruitment.title, recruitment_path(chat_group.recruitment.id) %></h4>
            <table class="table table-borderless my-4">
              <tr class="row">
                <th class="col-lg-2 col-md-4 col-sm-5 col-5">お店</th>
                <td class="col-lg-10 col-md-8 col-sm-7 col-7"><%= link_to chat_group.recruitment.shop.name, chat_group.recruitment.shop.url %></td>
              </tr>
              <tr class="row">
                <th class="col-lg-2 col-md-4 col-sm-5 col-5">募集者</th>
                <td class="col-lg-10 col-md-8 col-sm-7 col-7"><%= link_to chat_group.recruitment.user.nickname, user_path(chat_group.recruitment.user.id) %></td>
              </tr>
            </table>
            <p class="col-lg-12 col-md-12 col-sm-12 col-12"><%= link_to "メッセージグループ", recruitment_chat_groups_path(chat_group.recruitment.id), class: "btn btn-color-green" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @chat_groups %>
</div>