<h2><%= @recruitment.title %>のメッセージグループです</h2>

<p>参加者</p>
<% @chat_group_users.each do |chat_group_user| %>
<p><%= chat_group_user.user.nickname %></p>
<% end %>

<div>
    <%= @chats.each do |chat| %>
        <% if chat_group_user.user.image.attached? %>
            <p><%= image_tag chat_group_user.user.image, size: "200x200" %></p>
        <% else %>
            <p><%= image_tag 'no_image', size: "200x200" %></p>
        <% end %> 
            <p><%= chat.user.nickname %></p>
            <p><%= chat.chat %></p>
    <% end %>
</div>

<div>
    <%= form_with model: @chat, url: chats_path, method: :create do |chat| %>
        <p><%= chat.text_area :chat %></p>
        <p><%= chat.submit "送信" %></p>
    <% end %>
</div>