<h2 class="text-center"><%= @recruitment.title %>のメッセージグループです</h2>

<% if @recruitment.user.id == current_user.id %>
<%= link_to "食事に行きました！", confirm_recruitment_chat_groups_path(@recruitment.id), method: :post %>
<% end %>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <div>
                <div>
                    <h4 class="text-center">参加者</h4>
                </div>
                <div>
                    <% @chat_group_users.each do |chat_group_user| %>
                        <% if chat_group_user.user.image.attached? %>
                            <p><%= image_tag chat_group_user.user.image, size: "80x80" %></p>
                        <% else %>
                            <p><%= image_tag 'no_image', size: "80x80" %></p>
                        <% end %>
                            <p><%= link_to chat_group_user.user.nickname, user_path(chat_group_user.user.id) %></p>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
            <div>
                <%= form_with model: @chat, url: chats_path, method: :create do |chat| %>
                    <p><%= chat.text_area :chat %></p>
                    <%= chat.hidden_field :chat_group_id, :value => @chat_group.id %>
                    <p><%= chat.submit "送信" %></p>
                <% end %>
            </div>

            <div class="row mt-5">
                <% @chats.each do |chat| %>
                  <div class="col-lg-3 col-md-3 col-sm-4 col-4">
                    <% if chat.user.image.attached? %>
                        <p><%= image_tag chat.user.image, size: "80x80" %></p>
                    <% else %>
                        <p><%= image_tag 'no_image', size: "80x80" %></p>
                    <% end %> 
                        <p><%= chat.user.nickname %></p>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-8 col-8">
                        <p class="d-flex align-items-centercd "><%= chat.chat %></p>
                  </div>
                <% end %>
                <%= paginate @chat_pages %>
            </div>
        </div>
    </div>
</div>



<!--<script>-->
<!--  $(document).on('turbolinks:load', function() {-->
    <!--$('.jscroll-div').jscroll({ // 追加したdivのclass名と合わせる-->
<!--      contentSelector: '.jscroll', -->
      <!--nextSelector: '.next a',  // 次ページリンクのセレクタ-->
<!--      loadingHtml: '読み込み中',-->
<!--      padding: 10-->
<!--    });-->
<!--  });-->
<!--</script>-->

<!--<style>-->
<!--  .pagination {-->
<!--    visibility: hidden;-->
<!--  }-->
<!--</style>-->