<h2><%= @recruitment.title %>のメッセージグループです</h2>

<p>参加者</p>
<% @chat_group_users.each do |chat_group_user| %>
    <% if chat_group_user.user.image.attached? %>
        <p><%= image_tag chat_group_user.user.image, size: "80x80" %></p>
    <% else %>
        <p><%= image_tag 'no_image', size: "80x80" %></p>
    <% end %> 
        <p><%= chat_group_user.user.nickname %></p>
<% end %>

<div>
    <%= form_with model: @chat, url: chats_path, method: :create do |chat| %>
        <p><%= chat.text_area :chat %></p>
        <p><%= chat.hidden_field :chat_group_id, :value => @chat_group.id %></p>
        <p><%= chat.submit "送信" %></p>
    <% end %>
</div>


<div class='jscroll-div'>
    <% @chats.each do |chat| %>
        <% if chat.user.image.attached? %>
            <p><%= image_tag chat.user.image, size: "80x80" %></p>
        <% else %>
            <p><%= image_tag 'no_image', size: "80x80" %></p>
        <% end %> 
            <p><%= chat.user.nickname %></p>
            <p><%= chat.chat %></p>
    <% end %>
    <%= paginate @chat_pages %>
</div>




<!--<script>-->
<!--  $(document).on('turbolinks:load', function() {-->
    <!--$('.jscroll-div').jscroll({ // 追加したdivのclass名と合わせる-->
<!--      contentSelector: '.jscroll', -->
      <!--nextSelector: '.next a',  // 次ページリンクのセレクタ-->
<!--      loadingHtml: '読み込み中',-->
<!--      padding: 10-->
<!--    });-->
<!--  });-->
<!--</script>-->

<!--<style>-->
<!--  .pagination {-->
<!--    visibility: hidden;-->
<!--  }-->
<!--</style>-->