<%= current_user.name %>さんの募集履歴

<div>
  <% @recruitments.each do |recruitment| %>
    <p><%= link_to recruitment.title, recruitment_path(recruitment.id) %></p>
    <div class="d-flex flex-row">
      <div>
        <p><%= image_tag recruitment.shop.img %></p>
      </div>
      <div>
        <p><%= link_to recruitment.shop.name, recruitment.shop.url %></p>
        <p><%= recruitment.shop.address %></p>
        <p>希望日　<%= recruitment.schedule %></p>
        <p>募集期限　<%= recruitment.deadline %></p>
      </div>
      <div>
        <% if recruitment.user.image.attached? %>
          <p><%= image_tag recruitment.user.image, size: "80x80" %></p>
        <% else %>
          <p><%= image_tag 'no_image', size: "80x80" %></p>
        <% end %>
        <p><%= link_to recruitment.user.nickname, user_path(recruitment.user.id) %></p>
      </div>
    </div>
  <% end %>
</div>
<%= paginate @recruitments_page %>