<div class="my-5">
  <h3 class="text-center">募集一覧</h3>
  <!--さあ、まだ見ぬ仲間たちと食事を共にしましょう-->
  
  <div class="container mt-5">
    <% if current_user.gender == "male" %>
      <% @recruitments_male_only.each do |recruitment| %>
        <% if recruitment.is_valid==true %>
          <div class="mb-5 bg-white rounded-3 p-5 border" style="border-radius:50px;">
            <h4 class="my-2 ml-3"><strong><%= link_to recruitment.title, recruitment_path(recruitment.id) %></strong></h4>
              <div class="row pt-3">
                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                  <p class="text-center"><%= image_tag recruitment.shop.img %></p>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-10 col-12">
                  <p><%= link_to recruitment.shop.name, recruitment.shop.url %></p>
                  <p><%= recruitment.shop.address %></p>
                  <p>希望日　<%= recruitment.schedule %></p>
                  <p>募集期限　<%= recruitment.deadline %></p>
                </div>
                <div class="text-center col-lg-2 col-md-2 col-sm-3 col-12">
                  <% if recruitment.user.image.attached? %>
                    <p><%= image_tag recruitment.user.image, size: "90x90" %></p>
                  <% else %>
                    <p><%= image_tag 'no_image', size: "90x90" %></p>
                  <% end %>
                  <p><%= link_to recruitment.user.nickname, user_path(recruitment.user.id) %></p>
                </div>
              </div>
          </div>
        <% end %>
      <% end %>
      <%= paginate @recruitments_male_only %>
    <% elsif current_user.gender == "female" %>
      <% @recruitments_female_only.each do |recruitment| %>
        <% if recruitment.is_valid==true %>
          <div class="mb-5 bg-white rounded-3 p-5 border" style="border-radius:50px;">
            <h4 class="my-2 ml-3"><strong><%= link_to recruitment.title, recruitment_path(recruitment.id) %></strong></h4>
              <div class="row pt-3">
                <div class="col-lg-3 col-md-3 col-sm-12">
                  <p class="text-center"><%= image_tag recruitment.shop.img%></p>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 pl-3">
                  <p><%= link_to recruitment.shop.name, recruitment.shop.url %></p>
                  <p><%= recruitment.shop.address %></p>
                  <p>希望日　<%= recruitment.schedule %></p>
                  <p>募集期限　<%= recruitment.deadline %></p>
                </div>
                <div class="text-center col-lg-2 col-md-2 col-sm-3">
                  <div>
                  <% if recruitment.user.image.attached? %>
                    <p><%= image_tag recruitment.user.image, size: "90x90" %></p>
                  <% else %>
                    <p><%= image_tag 'no_image', size: "90x90" %></p>
                  <% end %>
                  <p><%= link_to recruitment.user.nickname, user_path(recruitment.user.id) %></p>
                  </div>
                </div>
              </div>
          </div>
        <% end %>
      <% end %>
      <%= paginate @recruitments_female_only %>
    <% elsif current_user.gender == "other" %>
      <% @recruitments_anyone.each do |recruitment| %>
        <% if recruitment.is_valid==true %>
          <div class="mb-5 bg-white rounded-3 p-5 border" style="border-radius:50px;">
            <h4 class="my-2 ml-3"><strong><%= link_to recruitment.title, recruitment_path(recruitment.id) %></strong></h4>
              <div class="row pt-3">
                <div class="col-lg-3 col-md-3 col-sm-12">
                  <p class="text-center"><%= image_tag recruitment.shop.img %></p>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                  <p><%= link_to recruitment.shop.name, recruitment.shop.url %></p>
                  <p><%= recruitment.shop.address %></p>
                   <p>希望日　<%= recruitment.schedule %></p>
                  <p>募集期限　<%= recruitment.deadline %></p>
                </div>
                <div class="text-center col-lg-2 col-md-2 col-sm-3">
                  <% if recruitment.user.image.attached? %>
                    <p><%= image_tag recruitment.user.image, size: "90x90" %></p>
                  <% else %>
                    <p><%= image_tag 'no_image', size: "90x90" %></p>
                  <% end %>
                  <p><%= link_to recruitment.user.nickname, user_path(recruitment.user.id) %></p>
                </div>
              </div>
           </div>
        <% end %>
      <% end %>
      <p class="text-center"><%= paginate @recruitments_anyone %></p>
    <% end %>
  </div>
</div>
 