ご飯を食べに行きましょう！

<%= form_with model: @recruitment do |recruitment| %>
<p>お店</p>
<%= recruitment.select :shop_id,  @shops.map{ |shop| [shop.name, shop.id] }, { include_blank: "お気に入りの店から選択してください" } %>
<!--@shops.map{ |shop|  [ 選択肢の表示名, 実際に送信されるデータ] }-->
<p><%= link_to "お気に入りの店を登録しよう", shops_path %></p>

<p>題名</p>
<%= recruitment.text_field :title, autofocus: true %>

<p>紹介文</p>
<%= recruitment.text_area :introduction %>

<p>日程（2つ目、3つ目は任意）</p>
<%= recruitment.date_field :schedule_one, placeholder:"1つ目" %>
<%= recruitment.date_field :schedule_two, placeholder:"2つ目" %>
<%= recruitment.date_field :schedule_three, placeholder:"3つ目" %>

<p>募集人数</p>
<%= recruitment.select :number_of_people, Recruitment.number_of_people.keys.map {|k| [I18n.t("enums.recruitment.number_of_people.#{k}"), k]} %>
<!--recruitment.select :number_of_people, Recruitment.number_of_people_i18n.keys, {}-->

<p>お店がある都道府県</p>
<%= recruitment.select :prefectures, Recruitment.prefectures_i18n.keys, {} %>

<p>募集する性別</p>
<%= recruitment.radio_button :recruitment_gender, Recruitment.recruitment_genders.key(0) %>
<%= recruitment.label :recruitment_gender, Recruitment.recruitment_genders_i18n[:male_only] %>
<%= recruitment.radio_button :recruitment_gender, Recruitment.recruitment_genders.key(1) %>
<%= recruitment.label :recruitment_gender, Recruitment.recruitment_genders_i18n[:female_only] %>
<%= recruitment.radio_button :recruitment_gender, Recruitment.recruitment_genders.key(2) %>
<%= recruitment.label :recruitment_gender, Recruitment.recruitment_genders_i18n[:anyone] %>

<p>募集締め切り日</p>
<%= recruitment.datetime_field :deadline %>

<%= recruitment.submit "募集する" %>
<% end %>