 <div class="my-3">
　　<div class="mx-3">
    　<h6 class="text-muted"><%= flash[:notice] %></h6>
 　 </div>

    <h2 class="text-center">募集詳細</h2>
        <div class="container border border-radius-80 pt-5 px-5 pb-2 mt-4">
            <div class="row mb-5">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <% if @recruitment.user.image.attached? %>
                    <p class="text-center"><%= link_to image_tag(@recruitment.user.image, size: "150x150", class: "rounded"), user_path(@recruitment.user.id) %></p>
                    <% else %>
                    <p class="text-center"><%= link_to image_tag('no_image', size: "150x150", class: "rounded"), user_path(@recruitment.user.id) %></p>
                    <% end %>
                    <p class="text-center"><%= link_to @recruitment.user.nickname, user_path(@recruitment.user.id), class: "text-body" %></p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h3 class="mb-4"><strong><%= @recruitment.title %></strong></h3>
                    <p class="mb-4  pt-2"><%= @recruitment.introduction %></p>
                    <table class="table table-borderless ">
                        <tr class="row">
                            <th class="col-lg-4 col-md-4 col-sm-5 col-5">希望の日にち</th>
                            <% if @recruitment.schedule.present? %>
                                <td class="col-lg-8 col-md-8 col-sm-7 col-7"><%= @recruitment.schedule %></td>
                            <% else %>
                                <td class="col-lg-8 col-md-8 col-sm-7 col-7">相談して決めたい</td>
                            <% end %>
                        </tr>
                        <tr class="row">
                            <th class="col-lg-4 col-md-4 col-sm-5 col-5">募集している人数</th>
                            <td class="col-lg-8 col-md-8 col-sm-7 col-7"><%= @recruitment.number_of_people_i18n %></td>
                        </tr>
                        <tr class="row">
                            <th class="col-lg-4 col-md-4 col-sm-5 col-5">募集している人</th>
                            <td class="col-lg-8 col-md-8 col-sm-7 col-7"><%= @recruitment.recruitment_gender_i18n %></td>
                        </tr>
                        <tr class="row">
                            <th class="col-lg-4 col-md-4 col-sm-5 col-5">募集期限</th>
                            <td class="col-lg-8 col-md-8 col-sm-7 col-7"><%= @recruitment.deadline %></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
</div>

<div class="container py-5">
    <h2 class="text-center">お店の情報</h2>
    <div class="border border-radius-80 pt-5 px-5 pb-2 mt-4">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 mb-5">
                <p class="text-center"><%= image_tag @recruitment.shop.img, class: "rounded" %></p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 text-wrap">
                <h4 class="mb-4"><%= link_to @recruitment.shop.name, @recruitment.shop.url %></h4>
                <p class="mb-3"><%= @recruitment.shop.catch %></p>
                    <table class="table table-borderless ">
                        <tr class="row">
                            <th class="col-lg-2 col-md-4 col-sm-5 col-5">ジャンル</th>
                            <td class="col-lg-10 col-md-8 col-sm-7 col-7"><%= @recruitment.shop.genre %></td>
                        </tr>
                        <tr class="row">
                            <th class="col-lg-2 col-md-4 col-sm-5 col-5">予算</th>
                            <td class="col-lg-10 col-md-8 col-sm-7 col-7"><%= @recruitment.shop.budget_average %></td>
                        </tr>
                        <tr class="row">
                            <th class="col-lg-2 col-md-4 col-sm-5 col-5">住所</th>
                            <td class="col-lg-10 col-md-8 col-sm-7 col-7 text-wrap"><%= @recruitment.shop.address %></td>
                        </tr>
                        <tr class="row">
                            <th class="col-lg-2 col-md-4 col-sm-5 col-5">アクセス</th>
                            <td class="col-lg-10 col-md-8 col-sm-7 col-7 text-wrap"><%= @recruitment.shop.access %></td>
                        </tr>
                        <tr class="row">
                            <th class="col-lg-2 col-md-4 col-sm-5 col-5">駐車場</th>
                            <td class="col-lg-10 col-md-8 col-sm-7 col-7"><%= @recruitment.shop.parking %></td>
                        </tr>
                        <tr class="row">
                            <th class="col-lg-2 col-md-4 col-sm-5 col-5">営業時間</th>
                            <td class="col-lg-10 col-md-8 col-sm-7 col-7 text-wrap"><%= @recruitment.shop.open %></td>
                        </tr>
                        <tr class="row">
                            <th class="col-lg-2 col-md-4 col-sm-5 col-5">定休日</th>
                            <td class="col-lg-10 col-md-8 col-sm-7 col-7 text-wrap"><%= @recruitment.shop.close %></td>
                        </tr>
                    </table>
            </div>
        </div>
    </div>
</div>

<% if @recruitment.user_id != current_user.id %>
    <div class="my-5">
        <div class="container">
             <h2 class="text-center">応募状況</h2>
             <div class="border border-radius-80 py-3 my-3">
                <% if @recruitment.is_valid==true && ( @application.blank? || @application.is_valid==false ) %>  <!--whereメソッドで条件を絞り込んで確認 @applications.where(applicant_id: current_user.id).exists?-->
                    <p class="text-center"><%= link_to "行きたい！", confirm_recruitment_applications_path(@recruitment.id), method: :post, class: "btn btn-color-green" %></p>
                <% elsif @recruitment.is_valid==true && @application.is_valid==true %>     <!--@applications.where(applicant_id: current_user.id).blank?-->
                    <p class="text-center"><%= link_to "キャンセルする", cancel_recruitment_applications_path(@recruitment.id), method: :post, class: "btn btn-color-gray" %></p>
                <% elsif @recruitment.is_valid==false && @application.is_approval==false %>
                    <p class="text-center">この募集は締め切られました</p>
                <% elsif @recruitment.is_valid==false && @application.is_approval==true && @recruitment.chat_groups.exists? %>
                    <p class="text-center">
                        こちらの募集は終了しました。<br>
                        参加者は以下の方々です。
                    </p>
                    <div class="row mx-auto text-wrap px-5">
                        <% @chat_group_users.each do |chat_group_user| %>
                            <div class="p-3 text-center">
                                <% if chat_group_user.user.image.attached? %>
                                <div>
                                    <p><%= link_to image_tag(chat_group_user.user.image, size: "100x100", class: "rounded"), user_path(chat_group_user.user_id) %></p>
                                <% else %>
                                <div>
                                    <p><%= link_to image_tag('no_image', size: "100x100", class: "rounded"), user_path(chat_group_user.user_id) %></p>
                                <% end %>
                                <p class="text-center"><%= link_to chat_group_user.user.nickname, user_path(chat_group_user.user_id), class: "text-body" %></p>
                                </div>
                            </div>
                        <% end %>
                    </div>
                <% elsif @recruitment.is_valid==false && @application.is_approval==true && @recruitment.chat_groups.blank? %>
                    <p class="text-center">既にお食事済みのようです。</p>
                <% end %>
            </div>
        </div>
    </div>
<% end %>

<% if @recruitment.user_id == current_user.id %>
    <div class="mb-5">
        <div class="container">
            <div class="row mx-auto">
                <% if @recruitment.is_valid == true %>
                <p class="col-lg-6 col-md-6 col-sm-6 col-6 text-right"><%= link_to "編集", edit_recruitment_path, class: "btn btn-color-green btn-lg" %></p>
                <p class="col-lg-6 col-md-6 col-sm-6 col-6 text-left"><button type="button" class="btn btn-color-gray btn-lg" data-toggle="modal" data-target="#exampleModal">削除</button></p>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <!--モーダルのタイトル-->
                        <h5 class="modal-title" id="exampleModalLabel">削除確認</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                         <!--モーダルのメッセージ-->
                      <div class="modal-body">削除しますか？</div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-color-green" data-dismiss="modal">やめる</button>
                        <%= link_to "削除", withdraw_recruitment_path(@recruitment.id), method: :patch, class: "btn btn-color-gray" %>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="mb-5">
        <div class="container">
            <h2 class="text-center">応募状況</h2>
                <div class="border border-radius-80 py-3 mt-4">
                    <% if @recruitment.is_valid == true && @applications.present? %>
                        <p class="text-center mt-4 pb-3">応募者が来ました！どなたと一緒に行きますか？（行きたい人全員にチェックボックスを入れてください）</p>
                            <%= form_with model: @chat_group_user, url: confirm_recruitment_path(@recruitment.id), method: :post do |f| %>
                               <% @applications.each.with_index do |application| %>
                                <div class="row mt-4">
                                    <div class="col-lg-2 col-md-1 col-sm-1 col-2">
                                        <p class="text-right"><%= f.check_box :user_ids, {:multiple => true}, application.applicant_id.to_s, false %></p>
                                    </div>
                                    <div class="col-lg-2 col-md-3 col-sm-3 col-4">
                                        <% if application.applicant.image.attached? %>
                                            <p class="text-center"><%= image_tag application.applicant.image, size: "80x80", class: "rounded" %></p>
                                        <% else %>
                                            <p class="text-center"><%= image_tag 'no_image', size: "80x80", class: "rounded" %></p>
                                        <% end %>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-6">
                                        <p><%= link_to application.applicant.nickname, user_path(application.applicant.id), class: "text-body" %></p>
                                        <p><%= application.message %></p>
                                        <% if (application.schedule_one || application.schedule_two || application.schedule_three).present? %>
                                        <p>希望日：<%= application.schedule_one %><br><%= application.schedule_two %><br><%= application.schedule_three %></p>
                                        <% else %>
                                        <p>希望日：いつでもいいよ</p>
                                        <% end %>
                                    </div>
                                </div>
                                <% end %>
                                <p class="text-center mt-3"><button class="btn btn-color-green btn-lg my-3" type="submit">次へ進む</button></p>
                            <% end %>
                    <% elsif @recruitment.is_valid == true && (@applications.blank? || @application.is_valid==false) %>
                        <p class="text-center mt-4">まだ応募は来ていません。</p>
                    <% elsif @recruitment.is_valid == false && @applications.present? && @recruitment.chat_groups.present? %>
                        <p class="text-center mt-4">こちらの募集は終了しました。</p>
                        <p class="text-center pb-5">参加者は以下の方々です。</p>
                        <div class="row mx-auto text-wrap px-5">
                            <% @chat_group_users.each do |chat_group_user| %>
                                <div class="p-3">
                                    <% if chat_group_user.user.image.attached? %>
                                    <div>
                                        <p class="text-center"><%= link_to image_tag(chat_group_user.user.image, size: "100x100", class: "rounded"), user_path(chat_group_user.user_id) %></p>
                                    <% else %>
                                    <div>
                                        <p class="text-center"><%= link_to image_tag('no_image', size: "100x100", class: "rounded"), user_path(chat_group_user.user_id) %></p>
                                    <% end %>
                                    <p class="text-center"><%= link_to chat_group_user.user.nickname, user_path(chat_group_user.user_id), class: "text-body" %></p>
                                    </div>
                                </div>
                        　  <% end %>
                        </div>
                        <p class="text-center"><%= link_to "メッセージグループ", recruitment_chat_groups_path(@recruitment.id), class: "btn btn-color-green btn-sm" %></p>
                    <% elsif @recruitment.is_valid==false && @applications.present? && @recruitment.chat_groups.blank? %>
                        <p class="text-center mt-4">既に終了しました。</p>
                    <% elsif @recruitment.is_valid == false && @applications.blank? %>
                        <p class="text-center mt-4">参加者は集まりませんでした・・・</p>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>