募集詳細
<% if @recruitment.user.image.attached? %>
<p><%= image_tag @recruitment.user.image, size: "200x200" %></p>
<% else %>
<p><%= image_tag 'no_image', size: "200x200" %></p>
<% end %>
<p><%= @recruitment.user.name %></p>
<p><%= @recruitment.title %></p>
<p><%= @recruitment.introduction %></p>
<p><%= @recruitment.schedule_one %></p>
<p><%= @recruitment.schedule_two %></p>
<p><%= @recruitment.schedule_three %></p>
<p><%= @recruitment.prefectures %></p>
<p><%= @recruitment.number_of_people %></p>
<p><%= @recruitment.recruitment_gender_i18n %></p>
<p><%= @recruitment.deadline %></p>

<% if @recruitment.user_id != current_user.id %>
    <% if @applications.where(applicant_id: current_user.id).exists? %>  <!--whereメソッドで条件を絞り込んで確認-->
    <p><%= link_to "キャンセルする", cancel_recruitment_applications_path(@recruitment.id), method: :post %></p>
    <% else %>
    <p><%= link_to "行きたい！", confirm_recruitment_applications_path(@recruitment.id), method: :post %></p>
    <% end %>
<% end %>

<% if @recruitment.user_id == current_user.id %>
<p><%= link_to "編集", edit_recruitment_path %></p>
<p><%= link_to '削除', recruitment_path(@recruitment.id), { method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } } }  %></p>

<p>応募者が来ました！どなたと一緒に行きますか？（行きたい人全員にチェックボックスを入れてください）</p>
        <% @applications.each do |application| %>
        <%= form_with model: @chat_group_user, url: confirm_recruitment_path(@recruitment.id),method: :post do |application| %>
        <%= application.check_box :applicant_id, {class: "check_box"}, true, false %>
        <% end %>
        <p><%= link_to application.applicant.nickname, user_path(application.applicant.id) %></p>
        <p><%= application.message %></p>
        <p><%= application.schedule_one %></p>
        <p><%= application.schedule_two %></p>
        <p><%= application.schedule_three %></p>
    <% end %>
    <%= link_to "次へ進む", confirm_recruitment_path(@recruitment.id), method: :post %>
<% end %>

