<div class="my-5">
<h2 class="text-center">会員一覧</h2>

  <div class="container  text-wrap mt-5">
    <div class="bg-white rounded-3 p-5 border text-center" style="border-radius:50px;">
      <div class="row">
      <% @users.each do |user| %>
        <div class="column p-4">
          <% if user.image.attached? %>
            <p><%= image_tag user.image, size: "100x100" %></p>
          <% else %>
            <p><%= image_tag 'no_image', size: "100x100" %></p>
          <% end %>
          <p><%= link_to user.name, admin_user_path(user.id) %></p>
          <p><%= user.email %></p>
          <p><%= user.is_deleted_i18n %></p>
        </div>
      <% end %>
      </div>
    </div>
  </div>
    <%= paginate @users %>
</div>