<div class="mt-5 border-radius-80 border p-5">
    <div class="row mt-5 pt-4">
        <% recruitment.each do |recruitment| %>
            <% if  recruitment.is_valid == true %>
                  <div class="col-xl-4 col-lg-5 col-md-4 col-sm-12 col-12 pb-4">
                    <p class="text-center"><%= image_tag recruitment.shop.img, class: "rounded" %></p>
                  </div>
                  <div class="col-xl-8 col-lg-7 col-md-8 col-sm-12 col-12">
                    <h6 class="mb-4"><strong><%= link_to recruitment.title, recruitment_path(recruitment.id) %></strong></h6>
                    <table class="table table-borderless ml-4">
                        <tr class="row">
                            <th class="col-lg-2 col-md-3 col-sm-4 col-4">お店</th>
                            <td class="col-lg-10 col-md-9 col-sm-8 col-8"><%= link_to recruitment.shop.name, recruitment.shop.url %></td>
                        </tr>
                        <tr class="row">
                            <th class="col-lg-2 col-md-3 col-sm-4 col-4">希望日</th>
                            <% if recruitment.schedule.present? %>
                            <td class="col-lg-10 col-md-9 col-sm-8 col-8"><%= recruitment.schedule %></td>
                            <% else %>
                            <td class="col-lg-10 col-md-9 col-sm-8 col-8">相談して決めたい</td>
                            <% end %>
                        </tr>
                        <tr class="row mb-5">
                            <th class="col-lg-2 col-md-3 col-sm-4 col-4">募集期限</th>
                            <td class="col-lg-10 col-md-9 col-sm-8 col-8"><%= recruitment.deadline %></td>
                        </tr>
                    </table>
                  </div>
            <% end %>
        <% end %>
    </div>
</div>
<div class="text-center text-secondary">
    <p><%= paginate recruitment %></p>
</div>