<h2><%= @user.name %>さんの編集画面</h2>

<p><%= link_to "退会する", confirm_user_path(@user.id) %></p>

<%= form_with model: @user, url:user_path(@user.id), method: :patch do |user| %>
<p>プロフィール画像
<p><%= user.file_field :image, placeholder: "プロィール画像", accept: "image/*" %></p>
<!--image/*　：　画像ファイル以外の全てのファイル(音声ファイルや動画ファイルなど)はNG-->

<p>氏名</p>
<p><%= user.text_field :last_name, autofocus: true, placeholder:"性"%></p>
<p><%= user.text_field :first_name, placeholder:"名" %></p>
<p><%= user.text_field :last_name_kana, placeholder:"セイ" %></p>
<p><%= user.text_field :first_name_kana, placeholder:"メイ" %></p>

<p>ニックネーム</p>
<p><%= user.text_field :nickname %></p>

<p>自己紹介文</p>
<p><%= user.text_area :introduction %></p>

<p>メールアドレス</p>
<p><%= user.text_field :email %></p>

<p>住所</p>
<p><%= user.text_field :postal_code %></p>
<p><%= user.text_field :address %></p>

<p>電話番号</p>
<p><%= user.text_field :telephone_number %></p>

<p>性別
<p><%= user.radio_button :gender, User.genders.key(0) %>
<p><%= user.label :gender_male, User.genders_i18n[:male] %></p>
<p><%= user.radio_button :gender, User.genders.key(1) %>
<p><%= user.label :gender_female, User.genders_i18n[:female] %></p>
<p><%= user.radio_button :gender, User.genders.key(2) %>
<p><%= user.label :gender_other, User.genders_i18n[:other] %></p>

<p>都道府県</p>
<p><%= user.select :prefectures, User.prefectures.keys, {include_blank: '都道府県を選択してください'} %></p>

<p><%= user.submit "更新する" %></p>
<%end%>
<p><%= link_to "戻る", user_path(@user.id) %></p>

