<h2>会員一覧</h2>

<div class="d-flex flex-row">
  <% @users.each do |user| %>
      <div>
        <% if user.image.attached? %>
          <p><%= image_tag user.image, size: "100x100" %></p>
        <% else %>
          <p><%= image_tag 'no_image', size: "200x200" %></p>
        <% end %>
        <p> <%= link_to user.name, user_path(user.id) %></p>
      </div>
      <div>
        <p><%= user.email %></p>
        <p><%= user.is_valid %></p>
      </div>
</div>
