<div class="text-center mt-5">
<h2>会員詳細</h2>

<div class="container mt-5">
    <div>
        <div>
            <% if @user.image.attached? %>
                <p><%= image_tag @user.image, size: "200x200" %></p>
            <% else %>
                <p><%= image_tag 'no_image', size: "200x200" %></p>
            <% end %>
        </div>
        <div>
            <p><%= @user.nickname %></p>
        </div>    
        <div>
            <p><%= @user.introduction %></p>
        </div>    
        <div>
          <table class="table table-borderless">
            <tr class="row">
                <th class="col-lg-6 col-md-6 col-sm-6 col-6 text-right">性別</th>
                <td class="col-lg-6 col-md-6 col-sm-6 col-6 text-left"><%= @user.gender_i18n %></td>
            </tr>
            <tr class="row">
                <th class="col-lg-6 col-md-6 col-sm-6 col-6 text-right">都道府県</th>
                <td class="col-lg-6 col-md-6 col-sm-6 col-6 text-left"><%= @user.prefecture %></td>
            </tr>         
            <% if @user.id == current_user.id %>
            <tr class="row">
                <th class="col-lg-6 col-md-6 col-sm-6 col-6 text-right">名前</th>
                <td class="col-lg-6 col-md-6 col-sm-6 col-6 text-left"><%= @user.name %></td>
            </tr> 
            <tr class="row">
                <th class="col-lg-6 col-md-6 col-sm-6 col-6 text-right">名前（カナ）</th>
                <td class="col-lg-6 col-md-6 col-sm-6 col-6 text-left"><%= @user.name_kana %></td>
            </tr> 
            <tr class="row">
                <th class="col-lg-6 col-md-6 col-sm-6 col-6 text-right">住所</th>
                <td class="col-lg-6 col-md-6 col-sm-6 col-6 text-left"><%= @user.adress_all %></td>
            </tr> 
            <tr class="row">
                <th class="col-lg-6 col-md-6 col-sm-6 col-6 text-right">電話番号</th>
                <td class="col-lg-6 col-md-6 col-sm-6 col-6 text-left"><%= @user.telephone_number %></td>
            </tr> 
            <% end %>
          </table>
        </div>        
        <div class="row mt-5cd ">
            <p class="col-lg-6 col-md-6 col-sm-6 col-6 text-center"><%= link_to "編集", edit_user_path(@user.id) %></p>
            <p class="col-lg-6 col-md-6 col-sm-6 col-6 text-center"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
        </div>
    </div>

    <div>
    <% if @user.id != current_user.id %>
        <h3><%= @user.nickname %>さんと食事に行きませんか？</h3>
            <% if current_user.gender == "male" && @recruitments_male_only.exists? %>
                <div class="d-flex flex-row">
                    <% @recruitments_male_only.each do |recruitment| %>
                      <% if  recruitment.is_valid == true %>
                          <div>
                            <p><%= image_tag recruitment.shop.img %></p>
                          </div>
                          <div>
                            <p><%= link_to recruitment.title, recruitment_path(recruitment.id) %></p>
                            <p>お店　　　<%= link_to recruitment.shop.name, recruitment.shop.url %></p>
                            <p>希望日　　<%= recruitment.schedule %></p>
                            <p>募集期限　<%= recruitment.deadline %></p>
                          </div>
                      <% end %>
                    <% end %>
                </div>
            <% elsif current_user.gender == "female" && @recruitments_female_only.exists? %>
                <div class="d-flex flex-row">
                    <% @recruitments_female_only.each do |recruitment| %>
                      <% if  recruitment.is_valid == true %>
                          <div>
                            <p><%= image_tag recruitment.shop.img %></p>
                          </div>
                          <div>
                            <p><%= link_to recruitment.title, recruitment_path(recruitment.id) %></p>
                            <p>お店　　　<%= link_to recruitment.shop.name, recruitment.shop.url %></p>
                            <p>希望日　　<%= recruitment.schedule %></p>
                            <p>募集期限　<%= recruitment.deadline %></p>
                          </div>
                      <% end %>
                    <% end %>
                </div>
            <% elsif current_user.gender == "male" && "female" && "other" && @recruitments_anyone.exists? %>
                <div class="d-flex flex-row">
                    <% @recruitments_anyone.each do |recruitment| %>
                      <% if  recruitment.is_valid == true %>
                          <div>
                            <p><%= image_tag recruitment.shop.img %></p>
                          </div>
                          <div>
                            <p><%= link_to recruitment.title, recruitment_path(recruitment.id) %></p>
                            <p>お店　　　<%= link_to recruitment.shop.name, recruitment.shop.url %></p>
                            <p>希望日　　<%= recruitment.schedule %></p>
                            <p>募集期限　<%= recruitment.deadline %></p>
                          </div>
                      <% end %>
                    <% end %>
                </div>
            <% else @recruitments.empty? %>
                    <p>まだ募集はありません…</p>
            <% end %>
    <% end %>
    </div>

</div>