<h2>会員詳細</h2>

<% if @user.image.attached? %>
<p><%= image_tag @user.image, size: "200x200" %></p>
<% else %>
<p><%= image_tag 'no_image', size: "200x200" %></p>
<% end %>
<p><%= @user.nickname %></p>
<p><%= @user.introduction %></p>
<p><%= @user.gender_i18n %></p>
<p><%= @user.prefectures %></p>

<% if @user.id == current_user.id %>
<p><%= @user.name %></p>
<p><%= @user.name_kana %></p>
<p><%= @user.adress_all %></p>
<p><%= @user.telephone_number %></p>

<p><%= link_to "編集", users_information_edit_path, method: :get %></p>
<% end %>

<% if @user.id != current_user.id %>
<p><%= @user.nickname %>さんと食事に行きませんか？</p>
<% end %>