<!DOCTYPE html>
<html>
  <head>
    <title>meshiTomo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
    <meta name="description" content="meshiTomo">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!--==============レイアウトを制御する独自のCSSを読み込み===============-->
    <!--<link rel="stylesheet" type="text/css" href=".../javascript/stylesheets/application.scss">-->

  </head>

  <body class="body-bg">

    <header class="sticky-top">
    <% if user_signed_in? %>
      <nav class="navbar navbar-expand-lg navbar-light nav-bg">
          <a class="navbar-brand" href="/recruitments"><%= image_tag('meshitomo_sm.png') %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="justify-content-end collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto d-flex align-items-center justify-content-center mr-3">
                  <div class="search-form px-4 pt-4">
                    <%= form_with url: search_recruitments_path, method: :get, local: true do |search| %>
                      <%= search.text_field :keyword, value: @keyword %>
                      <%= search.select :prefecture, Recruitment.prefectures.keys, {include_blank: '都道府県を選択してください'} %>
                      <%= search.date_field :schedule, value: @schedule %>
                      <button class="btn btn-color-gray btn-sm mt-1" type="submit">検索</button>
                    <% end %>
                  </div>
                  <li class="nav-item m-2 p-2" data-toggle="tooltip" data-bs-placement="bottom" title="メッセージ">
                    <%= link_to image_tag('mail.png'), chat_groups_path %>
                  </li>
                  <li class="nav-item m-2 p-2" data-toggle="tooltip" data-bs-placement="bottom" title="お店を探す">
                    <%= link_to image_tag('katorari.png'), shops_path %>
                  </li>
                  <li class="nav-item  dropdown m-2" data-toggle="tooltip" title="ユーザー情報">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= image_tag('people.png') %>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right text-center border-color" aria-labelledby="navbarDropdown">
                      <li class="dropdown-item"><%= link_to "マイページ", user_path(current_user.id), class: "text-secondary" %></li>
                      <li class="dropdown-item"><%= link_to "募集履歴", history_recruitments_path, class: "text-secondary" %></li>
                      <li class="dropdown-item"><%= link_to "応募履歴", history_applications_path, class: "text-secondary" %></li>
                      <li class="dropdown-item"><%= link_to "お気に入りのお店", user_user_shops_path(current_user.id), class: "text-secondary" %></li>
                    </ul>
                  </li>
            </div>
      </nav>
  <% elsif admin_signed_in? %>
    <nav class="navbar navbar-expand-md navbar-light mb-5 pb-5">
        <a class="navbar-brand" href="/admin/users"><%= image_tag('meshitomo_sm.png') %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="justify-content-end collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto d-flex align-items-center justify-content-center">
                <li class="m-2">
                  <%= link_to "会員一覧", admin_users_path %>
                </li>
                <li class="m-2">
                  <%= link_to "募集一覧", admin_recruitments_path %>
                </li>
                <li class="m-2">
                  <%= link_to "メッセージグループ一覧", admin_chat_groups_path %>
                </li>
                <li class="m-2">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
                </li>
             </ul>
        </div>
      </nav>
    <% end %>
    </header>
    <%= yield %>
    <% if user_signed_in? %>
      <!--<div class="fixed-bottom d-flex justify-content-end" data-toggle="tooltip" data-placement="top" title="お食事に行きましょう">-->
        <%= link_to new_recruitment_path, class: "fixed-bottom ml-auto d-block rounded-circle mb-5 mr-5 shadow recruitment_logo" do %>
          <%= image_tag 'dinner.png',
                        class: "img-fluid p-3",
                        'data-toggle': "tooltip",
                        'data-placement': "top",
                        title: 'お食事に行く人を募集しましょう！'  %>
        <% end %>
        <!--ブロック要素にすると画面幅全体に要素が適用されてしまう。インライン要素にすることで、ボタンのみ選択できる。-->
      <!--</div>-->
    <% end %>
  </body>
</html>
