<!DOCTYPE html>
<html>
  <head>
    <title>Meshitomo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
  </head>

  <body>
          <div>
            <ul>
              <% if user_signed_in? %>
                <li class="m-2">
                  <%= link_to "募集一覧（後で消す）", recruitments_path %>
                </li>
                <li class="m-2">
                  <%= link_to "募集", new_recruitment_path %>
                </li>
                <li class="m-2">
                  <%= link_to "マイページ", user_path(current_user.id) %>
                </li>
                <li class="m-2">
                  <%= link_to "募集履歴", history_recruitments_path %>
                </li>
                <li class="m-2">
                  <%= link_to "応募履歴", history_applications_path %>
                </li>
                <li class="m-2">
                  <%= link_to "メッセージグループ一覧", chat_groups_path %>
                </li>
                <li class="m-2">
                  <%= link_to "お店を調べる", shops_path %>
                </li>
              <% elsif admin_signed_in? %>
                <li class="m-2">
                  <%= link_to "会員一覧", admin_users_path %>
                </li>
                <li class="m-2">
                  <%= link_to "募集一覧", admin_recruitments_path %>
                </li>
                <li class="m-2">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
                </li>
              <% else  %>
                <li class="m-2">
                  <%= link_to "新規登録", new_user_registration_path %>
                </li>
                <li class="m-2">
                  <%= link_to "ログイン", new_user_session_path %>
                </li>
              <% end %>
             </ul>
            </div>
         
    <%= yield %>
  </body>
</html>
